<div class="stats">
  <%= link_to(following_user_path(@user), class: "stats-link") do %>
    <strong id="following" class="stat">
      <%= @user.followings.count %>
    </strong>
    following
  <% end %>
  <%= link_to(followers_user_path(@user), class: "stats-link") do %>
    <strong id="followers" class="stat">
      <%= @user.followers.count %>
    </strong>
    followers
  <% end %>
</div>