<div class="hero">
  <h1 class="app-title">TRAVEL PHOTO</h1>

  <div class="copy">
  <p>
  旅行先などの写真を<br>
  位置情報付きで投稿できる写真投稿サイトです。
  </p>
  </div>

  <div class="topbtn">
  <% unless current_user %>
    <%= link_to "会員登録", new_user_registration_path, class: "topbtn__item" %>
    <%= link_to "ログイン", new_user_session_path, class: "topbtn__item" %>
  <% end %>
  </div>

</div>