<%= link_to(post, class: "post-link") do %>
<li class="post-list__item">
<div class="post-image post-image-<%= post.id %>"></div>
</li>
<% end %>
<style>
  .post-image-<%= post.id %> {
    background-image: url("<%= post.picture.url %>")
  }
</style>