@mixin mq($breakpoint: 900px) {
  @media screen and (max-width: $breakpoint) {
    @content;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
  @include mq {
    font-size: 12px;
  }
}
body {
  background: #f0f4f7;
  color: #333;
  font-family: 游ゴシック体, "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;

}
a {
  text-decoration: none;
  color: #333333;
}

li {
  list-style-type: none;
}

h3 {
  text-align: center;
  margin: 3rem 0 2rem;
  font-size: 2.5rem;
}
.tac {
  text-align: center;
}
.dn {
  display: none;
}
.alert {
  position: fixed;
  top: .5rem;
  left: 50%;
  transform: translateX(-50%);
  padding: 15px;
  border: 1px solid transparent;
  border-radius: 4px;
  width: 90%;
  z-index: 500;
  opacity: 0;
  animation: 2s fadein;
  visibility: hidden;
  &-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
  }
  &-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
  }
  &-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
  }
  &-warning{
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;

  }
}

@keyframes fadein {
  0% {
    visibility: visible;
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
.error-message {
  color: #DD0000;
  font-size: 1rem;
}

.form {
  margin-top: 2rem;
  position: relative;
  &-box {
    position: relative;
  }
}

.form input:not([type="submit"]):not([type="checkbox"]) {
    width: 100%;
    border: none;
    border-bottom: 1px solid #E9EAED;
    font-size: 1rem;
    padding-bottom: .7rem;
    margin-bottom: 3rem;
    outline: none;
    -webkit-box-shadow: unset;
    box-shadow: unset;
}
header {
  color: #fff;
  z-index: 100;
  background-color: #272727;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: .5rem 5rem;
  align-items: center;
  height: 50px;
  position: sticky;
  top: 0;
  @include mq {
    padding: 0.5rem 1rem;
  }
}

#nav-drawer {
  position: relative;
  display: none;
  @include mq {
    display: block;
  }
}

/*チェックボックス等は非表示に*/
.nav-unshown {
  display:none;
}

/*アイコンのスペース*/
#nav-open {
  display: inline-block;
  width: 30px;
  height: 22px;
  vertical-align: middle;
}

/*ハンバーガーアイコンをCSSだけで表現*/
#nav-open span, #nav-open span:before, #nav-open span:after {
  position: absolute;
  height: 3px;/*線の太さ*/
  width: 25px;/*長さ*/
  border-radius: 3px;
  background: #555;
  display: block;
  content: '';
  cursor: pointer;
}
#nav-open span:before {
  bottom: -8px;
}
#nav-open span:after {
  bottom: -16px;
}

/*閉じる用の薄黒カバー*/
#nav-close {
  display: none;/*はじめは隠しておく*/
  position: fixed;
  z-index: 99;
  top: 0;/*全体に広がるように*/
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0;
  transition: .3s ease-in-out;
}

/*中身*/
#nav-content {
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 90%;
  max-width: 330px;
  height: 100%;
  background: #272727;
  transition: .3s ease-in-out;
  -webkit-transform: translateX(-105%);
  transform: translateX(-105%);
}

/*チェックが入ったらもろもろ表示*/
#nav-input:checked ~ #nav-close {
  display: block;/*カバーを表示*/
  opacity: .5;
}

#nav-input:checked ~ #nav-content {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);/*中身を表示（右へスライド）*/
  box-shadow: 6px 0 25px rgba(0,0,0,.15);
}

.header-logo a {
  color: #ffffff;
}

.header-menu {
  @include mq {
    display: none;
  }
}

.header-list {
  display: flex; 
  @include mq {
    display: block;
    margin: 2rem 1rem;
  }
  &__item {
    @include mq {
      font-size: 1.25rem;
    }
  }
  &__item a {
    color: #fff;
  }
  &__item + &__item {
    margin-left: 1rem;
    @include mq  {
      margin-left: 0;
      margin-top: 2rem;
    }
  }
}

/*ラベル*/
.accbox label {
  display: block;
  padding : .5rem 0;
}



.accbox .label{
  position: relative;
  &::after {
    display: block;
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    border-bottom: 2px solid #fff;
    border-left: 2px solid #fff;
    left: 50px;
    top: 15px;
    transform: rotate(-45deg);
  }
}
  
/*チェックは隠す*/
.accbox input {
  display: none;
}

/*中身を非表示にしておく*/
.accbox .accshow {
  height: 0;
  padding: 0;
  overflow: hidden;
  opacity: 0;
  transition: 0.8s;
}

/*クリックで中身表示*/
.cssacc:checked + .accshow {
  height: auto;
  opacity: 1;
  margin-left: 0.5rem;
}

.search{
  background-color: #272727;
  padding: 1rem 0;
  &__item {
    width: 95%;
    max-width: 900px;
    margin: 0 auto;
    &__input {
      width: 100%;
      padding: 0.5rem;
      font-size: 1rem;
    }
  }
}

.hero {
  background-image:url(image-path('top.jpg'));
  background-size: cover;
  background-position: center;
  min-height: calc(100vh - 100px);
  width: 100%;
  padding-top: 4rem;
  position: relative;
}

.app-title {
  text-align: center;
  position: relative;
  font-size: 4rem;
  font-family: 'Varela Round', sans-serif;
  font-family: 'Comfortaa', cursive;
  padding: 2rem;
  color: #222;
  @include mq {
    font-size: 10vw;
  }
}

.app-title::before, .app-title::after {
  content: "";
  position: absolute;
  background: #222;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0) 0%,#222 35%,#222 65%,rgba(255, 255, 255, 0) 100%);
  width: 100%;
  height: 3px;
}


.app-title::before {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.app-title::after {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.copy {
  text-align: center;
  border: 1px solid #fff;
  background: rgba(66, 66, 66, .55);
  color: #ffffff;
  width: 95%;
  margin: 0 auto;
  max-width: 700px;
  font-size: 1.5rem;
  padding: 3rem 0;
  margin-top: 4rem;
}

.topbtn {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  text-align: center;
  .topbtn__item {
    color: #ffffff;
    background: rgba(198,198,198,.55);
    border: 1px solid #fff;
    padding: 0.5rem 2rem;
    font-size: 1.5rem;
  }
  .topbtn__item + .topbtn__item {
    margin-left: 1rem;
  }
}

// ユーザー関連

h2 {
  text-align: center;
  margin-bottom: 3rem;
}

.box {
  max-width: 580px;
  width: 95%;
  background: #ffffff;
  margin: 2rem auto 0;
  padding: 2rem 5rem;
  @include mq {
    padding: 2rem 2rem;
  }
}

.container {
  min-height: calc(100vh - 50px);
}

// post new

.errors-list {
  color: #d00;
  margin-bottom: 2rem;
}
.file-picture {
  display: none;
}

.map-wrap {
  position: relative;
}
.map-serch {
  position: absolute;
  top: 11rem;
  left: 1rem;
  z-index: 50;
  width: 360px;
  input[type="text"].map-serch__input {
    margin: 0;
    padding: 0.5rem;
  }
  &__inner {
    position: relative;
    &__button {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}


.preview-picture {
  width: 80%;
  align-self: flex-start;
  & + & {
    margin-left: 1rem;
  }
}

.preview {
  display: none;
  &__on {
    display: block;
    margin-top: 3rem;
    #preview-inner {
      overflow: scroll;
      display: flex;
    }
  }
  // p {
  //   display: none;
  // }
}

.file-picture__label {
  color: #fff;
  background: #008DC7;
  font-size: 1rem;
  padding: 1rem 3rem;
  border-radius: .75rem;
}

.file-picture-con {
  text-align: center;
  margin: 3rem 0;
  background: rgba(0, 0, 0, .05);
  padding: 3rem;
}

.dragover {
  background: rgba(0,0,0,.2)
}
.mt1 {
  margin-top: 1rem;
}

.actions {
  margin-top: 3rem;
  text-align: center;
}

input[type="submit"] {
  margin: 0 auto;
  border: 1px solid #AAAAAA;
  font-size: 1rem;
  padding: .2rem 1.5rem;
}

textarea {
min-width: 100%;
max-width: 100%;
min-height: 100px;
border: 1px solid #E9EAED;
padding: 0.5rem;
font-size: 1rem;
margin-top: 2rem;
}

.form-btn {
  margin-top: 1.5rem;
}

.form-btn a {
  display: block;
  text-align: center;
  color: #333333;
  font-size: 13px;
  color: #5890ff;
  text-decoration: underline;
}

.user-container {
  min-height: calc(100vh - 120px);
}

.user-canopy {
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 0;
  overflow: hidden;
  color: #eeeeee;
  padding: 2.5rem 0 1rem;
  margin-bottom: 4rem;
  max-width: 900px;
  width: 95%;
  margin: 1rem auto 4rem;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.15);
  background-color: #eeffef;
}

.user-box {
  text-align: center;
}

.user-box__edit {
  position: absolute;
  width: 30px;
  height: 30px;
  background: #48C1C3;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 17px;
  right: 0px;
  .user-box__edit--image {
    width: 15px;
    height: 15px;
  }
}

.profile-image, .profile-preview-picture {
  border-radius: 50%;
  object-fit: cover;
}

.profile-preview-picture {
  width: 150px;
  height: 150px;
}

.user-box__image {
  position: relative;
}

.user-name {
  font-size: 1.5rem;
}

.profile-box {
  background: rgba(230, 230, 230, 0.3);
  max-width: 760px;
  width: 100%;
  border-radius: 1rem;
  padding: 1rem;
  margin-left: 5rem;
}

.stats {
  word-spacing: nowrap;
}

.stats-link {
  color: #eee;
  word-spacing: nowrap;
}
.user-canopy:before{
  content: '';
  background: inherit;
  -webkit-filter: blur(15px) brightness(50%);
  -moz-filter: blur(15px) brightness(50%);
  -o-filter: blur(15px) brightness(50%);
  -ms-filter: blur(15px) brightness(50%);
  filter: blur(15px) brightness(50%);
  position: absolute;
  top: -15px;
  left: -15px;
  right: -15px;
  bottom: -15px;
  z-index: -1;
}

.non-post {
  text-align: center;
  &__link {
    display: inline-block;
    border: 1px solid #222;
    padding: 0.5rem;
    border-radius: 5px;
    margin-top: 1rem;
  }

}

input[type="submit"].follow-btn {
  background: #00A9EF;
  border: none;
  color: #fff;
  border-radius: 20px;
  font-size: 0.7rem;
  &__on {
    background: #fff;
    border: 1px solid #C2C6D0;
    color: #333333;
  }
}


// user edit

.file-profile-image {
  display: none;
}
.file-profile-image__label {
  border: 1px solid #333;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

.field-profile-image {
  text-align: center;
  margin: 1rem 0 2rem;
}



// post関係
// .picture-con {
//   column-count: 2;
//   column-gap: 0px;
//   img {
//     width: 100%;
//     box-sizing: border-box;
//     padding: 0.5rem;
//     height: auto;
//   }
// }
.post-list {
  display: flex;
  flex-wrap: wrap;
  /* padding: 0px 0rem; */
  /* width: 60%; */
  margin: 0 auto;
  width: calc(95% + 1rem);
  max-width: 900px;
  &__item {
    width: 33.3333%;
    display: block;
    box-sizing: border-box;
    padding: .5rem;
    position: relative;
    &:hover > .hover {
      opacity: 1;
    }
    @include mq {
      width: 50%;
    }
  }
}

.post-image {
  width: 100%;
  padding-bottom: 100%;
  background-position: center;
  background-size: cover; 
  position: relative;
  box-shadow: 0 3px 6px rgba(0,0,0,0.15);
  border-radius: 10px;
}

.hover {
  width: calc(100% - 1rem);
  height: 180px;
  padding: 4rem 1rem 0;
  background: linear-gradient(rgba(15,20,31,0) 0,rgba(15,20,31,.1) 25%,rgba(15,20,31,.8) 100%);
  background: linear-gradient(rgba(22,24,27,0) 0,rgba(22,24,27,.7) 64px,rgba(22,24,27,.9) 100%);
  position: absolute;
  bottom: .5rem;
  opacity: 0;
  color: #fff;
  border-radius: 0 0 10px 10px;
  pointer-events: none;
  transition: all .1s;
  &--inner {
    position: absolute;
    bottom: 10px;
  }
  &--user {
    display: flex;
    align-items: center;
    margin-top: .25rem;
    &__name {
      margin-left: 1rem;
    }
  }
  &-stats__list {
    margin-top: 0.25rem;
    &__item {
      display: inline-block;
      .icon {
        width: 20px;
        margin-right: 0.5rem;
      }
      .eye-icon {
        width: 30px;
      }
    }
    &__item + &__item {
      margin-left: .5rem;
    }
  }
}
.post-liml {
  padding: .5rem;
}

.post-picture {
  width: 100%;
}

.picture-btn {
  border: none;
}

.comment-list {
  display: flex;
  position: relative;
  padding: 1rem 0 0;
  margin-left: 1rem;
  margin-top: 1rem;
  border-top: 1px solid #E9EAED;
  &--item {
    margin-left: 1rem;
    word-break: break-all;
    &__edit {
      position: absolute;
      right: 0;
      font-size: .75rem;
    }
    &__destroy {
      position: absolute;
      right: 2rem;
      font-size: .75rem;
    }
    &__date {
      font-size: 0.75rem;
    }
    &__user-name {
      color: #008dc7;
    }
  }
}

.comment-box {
  display: flex;
  .post-comment {
    border: 1px solid #E9EAED;
    border-radius: .5rem;
    padding: 0.5rem;
    width: 90%;
    height: 60px;
    margin-left: 2rem;
    -webkit-box-shadow: unset;
    box-shadow: unset;
    font-size: 1rem;
    max-width: none;
    min-width: auto;
  }
  .new_comment {
    width: 90%;
  }
  .request-login {
    text-align: center;
    width: 100%;
    &__link {
      color: #5890ff;
      text-decoration: underline;
    }
  }
}

input[type="text"].edit-comment {
  font-size: 0.75rem;
  padding: 0.25rem;
  border: 1px solid #E9EAED;
  border-radius: .25rem;
}

.post-user {
  display: flex;
  padding: 2rem;
  background: #fff;
  border: 1px solid #E9EAED;
  &__profie {
    margin-left: 1rem;
    font-size: 1.3rem;
  }
}

.post-description {
  margin-top: 1rem;
  padding: 2rem;
  background: #fff;
  border: 1px solid #E9EAED;
}

.post-activity {
  margin-top: 1rem;
  padding: 1rem;
  background: #fff;
  border: 1px solid #E9EAED;
}

.activity-list {
  text-align: center;
  &__item {
    font-size: 1.5rem;
    display: inline-block;
    & + & {
      margin-left: 2rem;
    }
    .good-icon {
      width: 20px;
    }
    .comment-icon {
      width: 25px;
      margin-right: 0.3rem;
    }
    .eye-icon {
      width: 40px;
      margin-right: 0.4rem;
    }
  }
}

#more_link {
  display: block;
  max-width: 400px;
  margin: 2rem auto;
  text-align: center;
}

#like_form {
  display: inline;
  position: relative;
}

.arrow_box {
  display: none;
  position: absolute;
  padding: .5rem;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;  
  border-radius: 8px;
  background: #333;
  color: #fff;
  margin-left: -1.4rem;
  font-size: .75rem;
  top: 1.5rem;
  left: 0;
  white-space: nowrap;
  &__link {
    color: #ffffff;
  }
}

.footprint {
  position: relative;
  &-lavel {
  max-height: 250px;
  overflow: scroll;
  border-radius: .5rem;
  display: none;
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  background: #333;
    &__list {
      padding: 0.25rem .5rem;
      &--link {
        display: flex;
        align-items: center;
        .user-name {
          color: #ffffff;
          font-size: 1rem;
          white-space: nowrap;
        }
        .profile-image {
          margin-right: 0.5rem;
        }
      }
    }
  }
}
.edit-picture {
  position: relative;
   &__btn{
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(68, 68, 68, 0.842);
    z-index: 100;
    &__item {
      color: #ffffff;
    }
  }
  &:hover > &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__preview {
    width: 100%;
    margin-top: 1rem;
  }
}

.edit-picture-container {
  display: none;
}

.footprint:hover > .footprint-lavel {
  display: block;
}

span:hover p.arrow_box {
  display: block;
}

.post-tags {
  margin-top: 1rem;
  padding: 1rem;
  background: #fff;
  border: 1px solid #E9EAED;
  &__con {
    margin-top: 1rem;
  }
  &__link {
    border: 1px solid #008DC7;
    border-radius: .25rem;
    padding: .25rem 0.5rem;
  }
}

.user-link {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  color: #ffffff;
  &__item + &__item {
    margin-left: 1rem;
  }
  &__item a {
    color: #eee;
  }
}



#follow_form {
  margin-top: 0.5rem;
}




ul.menu-level {
  visibility: hidden;
  opacity: 0;
  z-index: 1;
  box-shadow: 0 0 8px 0 rgba(0,0,0,.15);
}


// .menu-level li a:hover {

// }

.menu > li.menu__single {
  position: relative;
  margin-left: 1rem;
}

li.menu__single ul.menu-level {
  position: absolute;
  top: 45px;
  padding: .5rem;
  background-color: rgba(0,0,0,0.6); 
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

li.menu__single:hover ul.menu-level {
  visibility: visible;
  opacity: 1;
}

.menu-lavel__item + .menu-lavel__item {
  margin-top: 0.3rem;
}


//  show
.post-show-container {
  max-width: 1000px;
  width: 95%;
  margin: 0 auto;
}

.edit-btn {
  position: relative;
  width: 15px;
  &:hover > &__list {
    opacity: 1; 
    visibility: visible;
  }
  &__v {
    width: 15px;
    height: 15px;
    transform: rotate(-45deg);
    border-bottom: 3px solid #222;
    border-left: 3px solid #222;
  }
  &__list {
    position: absolute;
    opacity: 0; 
    transition: .1s;
    visibility: hidden;
    left: 0;
    top: 1.25rem;
    width: 9rem;
    background: rgba(0,0,0,.6);
    color: #fff;
    padding: .5rem;
    &__item a {
      color: #ffffff;
    }
  }
}

.post-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  flex-direction: row-reverse;
  flex-wrap: wrap;

  &__content {
    flex-basis: calc(50% - .5rem);
    align-self: flex-start;
    @include mq {
      flex-basis: 100%;
    }
    &__comment {
      padding: 2rem;
      background: #fff;
      border: 1px solid #E9EAED;
      @include mq {
        margin-top: 1rem;
      }
    }
  }
}

input[type="submit"].account-delete-btn {
  border: none;
  color: #c44;
  font-size: 0.7rem;
  display: block;
  border: none;
  margin: 1.5rem auto;
}

// show　モーダル


.modal-dialog {
  z-index: 200;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  overflow: none;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
  display: none;
}

.modal-content {
  position: relative;
  overflow: auto;
  height: 100%;
  background: #F4F4F7;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 3rem 0;
}

.close-btn {
  position: absolute;
  top: .25rem;
  right: .25rem;
  width: 40px;
  height: 40px;
  cursor: pointer;
  z-index: 6;
  .batsu {
    position: absolute;
    top: 20px;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 30px;
    height: 5px;
    background: #333333;
    &:before {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      -moz-transform: rotate(90deg);
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg);
      background: #333333;
    }
  }
}


 //  user一覧ページ

 .users-box {
  max-width: 1000px;
  margin: 0 auto;
  background: #fff;
  width: 90%;
  padding: 1rem 2rem;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .15);
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include mq {
    display: block;
  }
  &__profile {
    text-align: left;
    margin-left: 1rem;
    @include mq {
      display: block;
      text-align: center;
      margin: 0;
      &__user-name a{
        color: #008dc7;
      }
    }
  }
  &__posts {
    overflow: scroll;
    height: 120px;
    display: flex;
    margin-top: 1rem;
    &__link + &__link {
      margin-left: 1rem;
    }
    &__picture {
      width: 120px;
      height: 120px;
      object-fit: cover;
    }
  }
}

.map-container {
  margin: 0 auto;
  width: 100%;
}

.flex {
  display: flex;
  @include mq {
    display: block;
  }
}

.users-box + .users-box {
  margin-top: 2rem;
}


.footer {
  background: #272727;
  color: #fff;
  text-align: center;
  padding: 1rem;
}




// map 

.gm-post-picture {
  max-width: 400px;
  width: 100%;
  display: block;
}