* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
body {
  background: #F4F4F7;
  color: #333;
}
a {
  text-decoration: none;
  color: #333333;
}

li {
  list-style-type: none;
}

h3 {
  text-align: center;
  margin-bottom: 4rem;
  font-size: 2.5rem;
}

header {
  border-bottom: 1px solid #707070;
  // position: fixed;
  z-index: 100;
  background-color: rgba($color: #fff, $alpha: .6);
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: .5rem 5rem;
  align-items: center;
  height: 50px;
}

.header-rogo {
}

.header-list {
  display: flex; 
}

.header-list__item  + .header-list__item  {
  margin-left: 1rem;
}

.header-list__item a {
  color: #333;
}

.hero {
  // background-image: url("<%= asset-path('"top.png") %>");
  // background: image-url('top.jpg');
  background-image: url("http://huntbank.xsrv.jp/top2.jpg");
  background-size: cover;
  min-height: 100vh;
  width: 100%;
  padding-top: 4rem;
  position: relative;
}

.app-title {
  text-align: center;
  position: relative;
  font-size: 4rem;
  font-family: 'Varela Round', sans-serif;
  font-family: 'Comfortaa', cursive;
  padding: 2rem;
  color: #ffffff;
}

.app-title::before, .app-title::after {
  content: "";
  position: absolute;
  background: #ffffff;
  background: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0) 0%,#fff 35%,#fff 65%,rgba(255, 255, 255, 0) 100%);
  background: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0) 0%,#fff 35%,#fff 65%,rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(135deg, rgba(255, 255, 255, 0) 0%,#fff 35%,#fff 65%,rgba(255, 255, 255, 0) 100%);
  width: 100%;
  height: 3px;
}


.app-title::before {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.app-title::after {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.copy {
  text-align: center;
  border: 1px solid #fff;
  background: rgba(66, 66, 66, .55);
  color: #ffffff;
  width: 95%;
  margin: 0 auto;
  max-width: 700px;
  font-size: 1.5rem;
  padding: 3rem 0;
  margin-top: 4rem;
}

.topbtn {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  .topbtn__item {
    color: #ffffff;
    background: rgba(198,198,198,.55);
    border: 1px solid #fff;
    padding: 0.5rem 2rem;
    font-size: 1.5rem;
  }
  .topbtn__item + .topbtn__item {
    margin-left: 1rem;
  }
}

// ユーザー関連

h2 {
  text-align: center;
  margin-bottom: 3rem;
}

.box {
  max-width: 580px;
  width: 95%;
  background: #ffffff;
  margin: 0 auto 0;
  padding: 2rem 5rem;
}

.container {
  padding-top: 5rem;
}

input:not([type="submit"]):not([type="checkbox"]) {
    width: 100%;
    border: none;
    border-bottom: 1px solid #E9EAED;
    font-size: 1rem;
    padding-bottom: .7rem;
    margin-bottom: 3rem;
    outline: none;
    -webkit-box-shadow: unset;
    box-shadow: unset;
}

.actions {
  text-align: center;
}

input[type="submit"] {
  margin: 0 auto;
  border: 1px solid #AAAAAA;
  font-size: 1rem;
  padding: .2rem 1.5rem;
}

textarea {
min-width: 100%;
max-width: 100%;
min-height: 100px;
border: 1px solid #E9EAED;
padding: 0.5rem;
font-size: 1rem;
}

.form-btn {
  margin-top: 1.5rem;
}

.form-btn a {
  display: block;
  text-align: center;
  color: #333333;
  font-size: 13px;
  color: #5890ff;
  text-decoration: underline;
}
.user-canopy {
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 0;
  overflow: hidden;
  display: flex;
  color: #eeeeee;
  padding: 2.5rem 10rem;
  margin-bottom: 4rem;
}

.user-box {
  text-align: center;
}

.user-box__edit {
  position: absolute;
  width: 30px;
  height: 30px;
  background: #48C1C3;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 17px;
  right: 0px;
  .user-box__edit--image {
    width: 15px;
    height: 15px;
  }
}

.user-box__image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  position: relative;
}

.user-name {
  font-size: 1.5rem;
}

.profile-box {
  background: rgba(230, 230, 230, 0.3);
  max-width: 760px;
  width: 100%;
  border-radius: 1rem;
  padding: 1rem;
  margin-left: 5rem;
}

.user-canopy:before{
  content: '';
  background: inherit;
  -webkit-filter: blur(15px);
  -moz-filter: blur(15px);
  -o-filter: blur(15px);
  -ms-filter: blur(15px);
  filter: blur(15px);
  position: absolute;
  top: -15px;
  left: -15px;
  right: -15px;
  bottom: -15px;
  z-index: -1;
}



// post関係
.post-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0 2rem;
  
}

.post-image {
  width: 100%;
  padding-bottom: 100%;
  background-position: center;
  background-size: cover; 
}

.post-list__item {
  padding: .5rem;
}

.post-link {
  width: 25%;
  display: block;
}
